<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1" />
<meta name="renderer" content="webkit" />

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="format-detection" content="telephone=no" / >
<meta name="format-detection" content="email=no" />

<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<meta name="author"content="alen" />
{if condition="$page_keywords"}
<meta name="keywords" content="{$page_keywords}" />
{/if}
{if condition="$page_description"}
<meta name="description" content="{$page_description}" />
{/if}
<title>{$page_title}</title>

<link rel="apple-touch-icon" href="/icon/favicon.png" />
<link rel="icon" href="/icon/favicon.png" type="image/png" />



<link href="{$static_url}Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{$static_url}Font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="{$static_url}Alen/Css/public.css" rel="stylesheet" type="text/css" />
<link href="{$skin_url}css/{$public_template.skinfile.css}" rel="stylesheet" type="text/css" />
<script src="{$static_url}Jquery/jquery-1.11.1.min.js"></script>