<style>*{ margin:0; padding:0;}html,body{ margin:0; padding:0;}</style>
<div style="font:normal 14px/1.4 'Helvetica Neue',Helvetica,Arial,sans-serif; color:#333;">
    <div style="background:#08c; text-align:center; color:#FFF; padding:20px 0;">
        <b style="font-family:'Microsoft YaHei'; font-size:200%">{:config('sys_name')}</b>
    </div>
    <div style="background:#f0f0f0; padding:10px;">
    	<b style="font-family:'Microsoft YaHei'; font-size:120%">{$title}</b>
    </div>
    <div style="background:#FFF; padding:10px;">{$html} </div>
    <div style="background:#e0e0e0; padding:10px; color:#666;">
    	本邮件由系统自动发出，请勿直接回复
    </div>
</div>